.app-header {
    background: linear-gradient(90deg, #FF8FA3, #FF8FA3); 
    height: 60px;
    padding: 16 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #C9184A
}

.logo {
    color: #C9184A;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
}

.nav-menu {
    display: flex;
    gap: 24px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 14ps;
    font-weight: 500;
}

.nav-link:hover {
    color: #C9184A;
}

.cart-container {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.cart-icon {
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #C9184A;
    color: white;
    font-size: 12px;
    font-weight: 600;
    width: 18px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

















